body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #faf8ef;
}

h1 {
    font-size: 36px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    margin: auto;
}

.tile {
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdc1b4;
    border-radius: 5px;
}
